@model DashBoardModel
@{
    ViewData["Title"] = "Dashboard";
}
@section Styles{
}
<div class="row">
    <div class="col-12">
        <!-- small box -->
        <div class="small-box bg-info">
            <div class="inner">
                <h1 style="font-weight:bold">@Model.UnscannedWorkerCount</h1>

                <h2 style="font-weight:bold">Unscanned Workers</h2>
            </div>
            <div class="icon">
                <i class="fa fa-qrcode"></i>
            </div>
            <a asp-action="Index" asp-area="Admin" asp-controller="Home" type=" button" class="small-box-footer">Scan Barcodes <i class="fas fa-arrow-circle-right"></i></a>
        </div>
    </div>

    <div class="col-12">
        <!-- small box -->
        <div class="small-box bg-warning">
            <div class="inner">
                <h1 style="font-weight:bold">@Model.PriceNotInsertedWorkersCount</h1>

                <h2 style="font-weight:bold">Price Not Entered</h2>
            </div>
            <div class="icon">
                <i class="	fas fa-edit"></i>
            </div>
            <a asp-action="Index" asp-area="Admin" asp-controller="Home" type=" button" class="small-box-footer">Enter Prices <i class="fas fa-arrow-circle-right"></i></a>
        </div>
    </div>

@*    <!-- ./col -->
    <div class=" col-6">
        <!-- small box -->
        <div class="small-box bg-success">
            <div class="inner">
                <h3>53<sup style="font-size: 20px">%</sup></h3>

                <p>Bounce Rate</p>
            </div>
            <div class="icon">
                <i class="ion ion-stats-bars"></i>
            </div>
            <a asp-action="Index" asp-area="Admin" asp-controller="Home" type=" button" class="small-box-footer">Scan Barcodes<i class="fas fa-arrow-circle-right"></i></a>
        </div>
    </div>
    <!-- ./col -->

    <!-- ./col -->
    <div class="col-6">
        <!-- small box -->
        <div class="small-box bg-danger">
            <div class="inner">
                <h3>65</h3>

                <p>Unique Visitors</p>
            </div>
            <div class="icon">
                <i class="ion ion-pie-graph"></i>
            </div>
            <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
        </div>
    </div>*@
    <!-- ./col -->
</div>
@*<div class="row">
    <div class="col-12">
        <div class="card card-primary card-outline">
            <div class="card-header">
                <h1>Number of workers whose barcode has not been scanned: @Model.UnscannedWorkerCount</h1>
            </div>
            <!-- /.card-header -->
            <div class="card">
                <div class="card-body">
                    <h3>Click the button to scan their Bar Code</h3>
                    <a asp-action="Index" asp-area="Admin" asp-controller="Home" type=" button" class="btn btn-primary">Scan Barcodes</a>
                </div>
            </div>
        </div>
        <!-- /.card-body -->

        <div class="card card-primary card-outline">
            <div class="card-header">
                <h1>Number of scanned workers whose price has not been inserted: @Model.PriceNotInsertedWorkersCount</h1>
            </div>
            <!-- /.card-header -->
            <div class="card">
                <div class="card-body">
                    <h3>Click the button to insert price</h3>
                    <a asp-action="InsertPriceList" asp-area="Admin" asp-controller="Home" type=" button" class="btn btn-primary">Insert Price</a>
                </div>
            </div>
        </div>
        <!-- /.card-body -->
    </div>
    <!-- /.card -->
</div>*@
</div>


@section Scripts
{

}
