@model DashBoardModel
@{
    ViewData["Title"] = "Dashboard";
}

<div class="row">
    <div class="col-6">
        <!-- small box -->
        <div class="small-box bg-info">
            <div class="inner">
                <h1 style="font-weight:bold">@Model.UnscannedWorkerCount</h1>

                <h2 style="font-weight:bold">Unscanned Workers</h2>
            </div>
            <div class="icon">
                <i class="fa fa-qrcode"></i>
            </div>
            <a asp-action="Index" asp-area="Admin" asp-controller="Home" type=" button" class="small-box-footer">Scan Barcodes <i class="fas fa-arrow-circle-right"></i></a>
        </div>
    </div>

    <div class="col-6">
        <!-- small box -->
        <div class="small-box bg-warning">
            <div class="inner">
                <h1 style="font-weight:bold">@Model.PriceNotInsertedWorkersCount</h1>

                <h2 style="font-weight:bold">Price Not Entered</h2>
            </div>
            <div class="icon">
                <i class="	fas fa-edit"></i>
            </div>
            <a asp-action="InsertPriceList" asp-area="Admin" asp-controller="Home" type=" button" class="small-box-footer">Enter Prices <i class="fas fa-arrow-circle-right"></i></a>
        </div>
    </div>
</div>
