<div class="container-fluid">
    <div class="row pt-3">
        <div class="col-8">
            <!-- Change Password Form -->
            <form>
                <div class="card card-primary card-outline">
                    <div class="card-body">
                        <table class="table table-borderless">
                            <tr>
                                <td>
                                    <label for="inputPassword" class="col-form-label">Scan the first bar code</label>
                                </td>
                                <td>
                                    <input type="text" class="form-control" id="barCode1" placeholder="Please scan the first bar code" value="">
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label for="inputNewPassword" class="col-form-label">Scan the second bar code</label>
                                </td>
                                <td>
                                    <input type="text" class="form-control" id="barCode2" placeholder="Please scan the second bar code" value="">
                                </td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>
                                    <a class="btn btn-primary btn-block" type="submit">Submit</a>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>