@using System.Security.Claims
@using Infrastructure.Services;
@inject ApplicationUserManager UserManager

@{
    var userId = User.FindFirstValue(ClaimTypes.NameIdentifier);
    var user = await UserManager.FindByIdAsync(userId);
}

<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a asp-area="Admin" asp-controller="Home" asp-action="DashBoard" class="brand-link">
        @*<img src="~/app/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8">*@
        <span class="brand-text font-weight-light">Project</span>
    </a>
    <!-- Sidebar -->
    <div class="sidebar">
        <!-- Sidebar user panel (optional) -->
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            <div class="info">
                @if (@user != null)
                {
                    <a asp-area="Admin" asp-controller="Home" asp-action="DashBoard" class="d-block">@user.Name</a>
                }
            </div>
        </div>
        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <!-- Add icons to the links using the .nav-icon class
                     with font-awesome or any other icon font library -->
                <dev class="nav-item menu-open">
                    <a asp-action="DashBoard" asp-area="Admin" asp-controller="Home" class="nav-link">
                        <i class="nav-icon fas fa-tachometer-alt"></i>
                        <p>
                            Dashboard
                        </p>
                    </a>
                </dev>
                <dev class="nav-item menu-open">
                    <a asp-action="Index" asp-area="Admin" asp-controller="Home" class="nav-link">
                        <i class="nav-icon fas fa-tachometer-alt"></i>
                        <p>
                            Bar Code Scan
                        </p>
                    </a>
                </dev>
                <dev class="nav-item menu-open">
                    <a asp-action="Price" asp-area="Admin" asp-controller="Home" class="nav-link">
                        <i class="nav-icon fas fa-tachometer-alt"></i>
                        <p>
                            Prices
                        </p>
                    </a>
                </dev>
                <dev class="nav-item menu-open">
                    <a asp-action="Report" asp-area="Admin" asp-controller="Home" class="nav-link">
                        <i class="nav-icon fas fa-tachometer-alt"></i>
                        <p>
                            Report
                        </p>
                    </a>
                </dev>
            </ul>
        </nav>
        <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
</aside>